.DesktopMenu {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  font-size: 1.15rem;
  font-weight: 500;
}

.InactiveLinkWrapper {
  padding: 0.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.InactiveLinkWrapper:hover {
  background-color: var(--primary-100);
}

.ActiveLinkWrapper {
  padding: 0.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary) !important;
}
