.Navbar {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1.15rem;
  font-weight: 500;
  gap: 0.5rem;
}

.NavHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavHeaderIconsLeft {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.NavMenu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.IconWrapper {
  padding: 0.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.IconWrapper:hover {
  background-color: var(--primary-100);
}

.InactiveLinkWrapper {
  padding: 0.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.InactiveLinkWrapper:hover {
  background-color: var(--primary-100);
}

.ActiveLinkWrapper {
  padding: 0.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary) !important;
}
