.Navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  opacity: 95%;
}

.NavbarHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  width: 75%;
  margin: 1rem auto 0.15rem auto;
  /* gap: 0.5rem; */
}

.NavHeaderIconsLeft {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.IconWrapper {
  padding: 0.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.IconWrapper:hover {
  background-color: var(--primary-100);
}
